modules = ["bash", "python-3.11", "nodejs-20"]
[agent]
expertMode = true
integrations = ["python_database:1.0.0", "python_log_in_with_replit:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "ffmpeg-full", "freetype", "imagemagickBig", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "tcl", "tk", "xsimd", "zlib", "nano"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "frontend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "backend"

[[workflows.workflow]]
name = "frontend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uvicorn main:app --host 0.0.0.0 --port 8000"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 34839
externalPort = 3000

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "python main.py & cd frontend && npx serve -s dist -l 5000"]
build = ["npm", "run", "build", "--prefix", "frontend"]
