modules = ["bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg", "ffmpeg-full", "freetype", "imagemagickBig", "lcms2", "libGL", "libGLU", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pkg-config", "tcl", "tk", "xsimd", "zlib"]
